{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>Ajouter un article</title>
</head>
<body>
    <h1>Ajouter un article</h1>
   <!-- templates/main/ajouter_article.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="titre" placeholder="Titre" required>
    <input type="number" step="0.01" name="prix" placeholder="Prix" required>
    <input type="text" name="couleur" placeholder="Couleur">
    <input type="file" name="image">
    <input type="checkbox" name="publie"> Publié
    <button type="submit">Ajouter</button>
</form>
</body>
</html>
